Repository openshift-cnv/cnv-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: v4-18-prod-on-pull-request, v4-20-stage-on-pull-request

v4-18-prod-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v418-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

v4-20-stage-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v420-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

[v4.17] Add hco-bundle-registry:v4.17.55.rhel9-2 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.14.rhel9-2 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-18 on candidate channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.43.rhel9-2 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.22] Add hco-bundle-registry:v4.22.4.rhel9-2 on candidate channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.55.rhel9-2 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.22.rhel9-2 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.19] Add hco-bundle-registry:v4.19.30.rhel9-8 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-16 on candidate channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.13] Add hco-bundle-registry:v4.13.14.rhel9-9 on nightly channel
  v4.13/catalog/kubevirt-hyperconverged/catalog.json
  v4.13/graph.yaml
  v4.13/updated_image.yaml
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2923 on dev-preview channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.43.rhel9-3 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.22] Add hco-bundle-registry:v4.22.4.rhel9-3 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.14.rhel9-3 on nightly channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-17 on nightly channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.13] Add hco-bundle-registry:v4.13.14.rhel9-9 on candidate channel
  v4.13/catalog/kubevirt-hyperconverged/catalog.json
  v4.13/graph.yaml
  v4.13/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.55.rhel9-3 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.22.rhel9-3 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.19] Add hco-bundle-registry:v4.19.30.rhel9-9 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-19 on nightly channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.22.rhel9-3 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.21] Add hco-bundle-registry:v4.21.14.rhel9-3 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-19 on candidate channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.13] Add hco-bundle-registry:v4.13.14.rhel9-10 on nightly channel
  v4.13/catalog/kubevirt-hyperconverged/catalog.json
  v4.13/graph.yaml
  v4.13/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-20 on nightly channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.4.rhel9-4 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-18 on nightly channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.43.rhel9-4 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

Path conditions:
  v4-18-prod-on-pull-request: (any of: v4.18/***) or (any of: .tekton/v4-18-prod-pull-request.yaml)
  v4-20-stage-on-pull-request: (any of: v4.20/***) or (any of: .tekton/v4-20-stage-pull-request.yaml)
