Repository openshift-cnv/cnv-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: v4-18-prod-on-pull-request, v4-20-stage-on-pull-request

v4-18-prod-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v418-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

v4-20-stage-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v420-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

[v4.18] Add hco-bundle-registry:v4.18.51.rhel9-7 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.17] Add hco-bundle-registry:v4.17.58.rhel9-50 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.30.rhel9-8 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.21] Add hco-bundle-registry:v4.21.21.rhel9-8 on nightly channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.40.rhel9-8 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

Onboard v5.1 and v5.2
  .tekton/images-mirror-set-5-1.yaml
  .tekton/images-mirror-set-5-2.yaml
  .tekton/v51-cnv-fbc-pull-request.yaml
  .tekton/v51-cnv-fbc-push.yaml
  .tekton/v52-cnv-fbc-pull-request.yaml
  .tekton/v52-cnv-fbc-push.yaml
  v5.1/catalog.Dockerfile
  v5.1/catalog/kubevirt-hyperconverged/catalog.json
  v5.1/devfile.yaml
  v5.1/graph.yaml
  v5.1/rebuild.changelog
  v5.1/updated_image.yaml
  v5.1/v5.1/.empty
  v5.2/catalog.Dockerfile
  v5.2/catalog/kubevirt-hyperconverged/catalog.json
  v5.2/devfile.yaml
  v5.2/graph.yaml
  v5.2/rebuild.changelog
  v5.2/updated_image.yaml
  v5.2/v5.2/.empty
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-91 on nightly channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.30.rhel9-8 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.21] Add hco-bundle-registry:v4.21.21.rhel9-8 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.40.rhel9-8 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-91 on candidate channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

Use v5.1 base image for v5.2 until v5.2 image is available
  v5.2/catalog.Dockerfile
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-3002 on dev-preview channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.12.rhel9-8 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-91 on nightly channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.51.rhel9-8 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.17] Add hco-bundle-registry:v4.17.58.rhel9-51 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.12.rhel9-7 on candidate channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.12.rhel9-8 on candidate channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-91 on candidate channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.12.rhel9-7 on stable channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.40.rhel9-3 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.51.rhel9-8 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.17] Add hco-bundle-registry:v4.17.58.rhel9-51 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

Rebuild v5.1 and v5.2 FBC catalogs
  v5.1/rebuild.changelog
  v5.2/rebuild.changelog
Due: none

Path conditions:
  v4-18-prod-on-pull-request: (any of: v4.18/***) or (any of: .tekton/v4-18-prod-pull-request.yaml)
  v4-20-stage-on-pull-request: (any of: v4.20/***) or (any of: .tekton/v4-20-stage-pull-request.yaml)
