Repository openshift-cnv/cnv-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: v4-18-prod-on-pull-request, v4-20-stage-on-pull-request

.tekton/v4-18-prod-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-cnv/cnv-fbc?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "production" && ( "v4.18/***".pathChanged() || ".tekton/v4-18-prod-pull-request.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cnv-fbc-prod
    appstudio.openshift.io/component: v4-18-prod
    pipelines.appstudio.openshift.io/type: build
  name: v4-18-prod-on-pull-request
  namespace: cnv-fbc-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v418-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: v4.18
  pipelineRef:
    name: fbc-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-v4-18-prod
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/v4-20-stage-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-cnv/cnv-fbc?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "stage" && ( "v4.20/***".pathChanged() || ".tekton/v4-20-stage-pull-request.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cnv-fbc-stage
    appstudio.openshift.io/component: v4-20-stage
    pipelines.appstudio.openshift.io/type: build
  name: v4-20-stage-on-pull-request
  namespace: cnv-fbc-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v420-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: v4.20
  pipelineRef:
    name: fbc-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-v4-20-stage
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

[v4.20] Add hco-bundle-registry:v4.20.24.rhel9-3 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.22] Add hco-bundle-registry:v4.22.6.rhel9-3 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-33 on nightly channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.33.rhel9-3 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-31 on nightly channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.45.rhel9-3 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.17] Add hco-bundle-registry:v4.17.57.rhel9-3 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.16.rhel9-3 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.24.rhel9-3 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-33 on candidate channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.6.rhel9-3 on candidate channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.33.rhel9-3 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.45.rhel9-3 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-31 on candidate channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.57.rhel9-3 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.13] Add hco-bundle-registry:v4.13.14.rhel9-24 on nightly channel
  v4.13/catalog/kubevirt-hyperconverged/catalog.json
  v4.13/graph.yaml
  v4.13/updated_image.yaml
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2938 on dev-preview channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.13] Add hco-bundle-registry:v4.13.14.rhel9-24 on candidate channel
  v4.13/catalog/kubevirt-hyperconverged/catalog.json
  v4.13/graph.yaml
  v4.13/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.16.rhel9-4 on nightly channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-32 on nightly channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.45.rhel9-4 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.20] Add hco-bundle-registry:v4.20.24.rhel9-4 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.19] Add hco-bundle-registry:v4.19.33.rhel9-4 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.23] Add hco-bundle-registry:v4.23.0.rhel9-34 on nightly channel
  v4.23/catalog/kubevirt-hyperconverged/catalog.json
  v4.23/graph.yaml
  v4.23/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.57.rhel9-4 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.6.rhel9-4 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.45.rhel9-4 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.21] Add hco-bundle-registry:v4.21.16.rhel9-4 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.33.rhel9-4 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.24.rhel9-4 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v5.0] Add hco-bundle-registry:v5.0.0.rhel9-32 on candidate channel
  v5.0/catalog/kubevirt-hyperconverged/catalog.json
  v5.0/graph.yaml
  v5.0/updated_image.yaml
Due: none
