Repository openshift-cnv/cnv-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: v4-18-prod-on-pull-request, v4-20-stage-on-pull-request

v4-18-prod-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v418-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

v4-20-stage-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v420-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

[v4.21] Add hco-bundle-registry:v4.21.5.rhel9-1 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.0.rhel9-107 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.45.rhel9-2 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.33.rhel9-2 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.20] Add hco-bundle-registry:v4.20.12.rhel9-2 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-14 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.5.rhel9-2 on nightly channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2737 on dev-preview channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.12.rhel9-2 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.18] Add hco-bundle-registry:v4.18.33.rhel9-2 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.21] Add hco-bundle-registry:v4.21.5.rhel9-2 on candidate channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-14 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-15 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.33.rhel9-3 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.20] Add hco-bundle-registry:v4.20.12.rhel9-3 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2738 on dev-preview channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.5.rhel9-3 on nightly channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.45.rhel9-3 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.22] Add hco-bundle-registry:v4.22.0.rhel9-108 on nightly channel
  v4.22/catalog/kubevirt-hyperconverged/catalog.json
  v4.22/graph.yaml
  v4.22/updated_image.yaml
Due: none

[v4.21] Add hco-bundle-registry:v4.21.3.rhel9-8 on stable channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.12.rhel9-3 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: v4-20-stage-on-pull-request

[v4.17] Add hco-bundle-registry:v4.17.45.rhel9-3 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.33.rhel9-3 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-15 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-12 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.21.rhel9-12 on stable channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.19.rhel9-65 on stable channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.22.rhel9-1 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.22.rhel9-1 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.45.rhel9-4 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.33.rhel9-4 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: v4-18-prod-on-pull-request

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2739 on dev-preview channel
  v4.21/catalog/kubevirt-hyperconverged/catalog.json
  v4.21/graph.yaml
  v4.21/updated_image.yaml
Due: none

Path conditions:
  v4-18-prod-on-pull-request: (any of: v4.18/***) or (any of: .tekton/v4-18-prod-pull-request.yaml)
  v4-20-stage-on-pull-request: (any of: v4.20/***) or (any of: .tekton/v4-20-stage-pull-request.yaml)
