Repository ashwinifork/cnv-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: v4-12-stage-on-push, v4-16-stage-on-pull-request, v4-17-prod-on-push

v4-12-stage-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/cnv-fbc-v4-12/v412-cnv-fbc:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

v4-16-stage-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/v416-cnv-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

v4-17-prod-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cnv-fbc-tenant/cnv-fbc-v4-17/v417-cnv-fbc:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

[v4.19] Add hco-bundle-registry:v4.19.7.rhel9-4 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.0.rhel9-141 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.7.rhel9-4 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2387 on dev-preview channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.27.rhel9-5 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.18] Add hco-bundle-registry:v4.18.14.rhel9-19 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.0.rhel9-142 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: none

Update rebuild.changelog
  v4.20/rebuild.changelog
Due: none

[v4.17] Add hco-bundle-registry:v4.17.27.rhel9-6 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.18] Add hco-bundle-registry:v4.18.14.rhel9-20 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.7.rhel9-5 on nightly channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.18] Add hco-bundle-registry:v4.18.14.rhel9-20 on candidate channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: none

[v4.20] Add hco-bundle-registry:v4.20.0.rhel9-143 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: none

[v4.99] Add hco-bundle-registry:v4.99.0.rhel9-2388 on dev-preview channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.27.rhel9-6 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.20] Add hco-bundle-registry:v4.20.0.rhel9-144 on nightly channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.27.rhel9-4 on candidate channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.17] Add hco-bundle-registry:v4.17.27.rhel9-4 on stable channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.20] Add hco-bundle-registry:v4.20.0.rhel9-144 on candidate channel
  v4.20/catalog/kubevirt-hyperconverged/catalog.json
  v4.20/graph.yaml
  v4.20/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.28.rhel9-1 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

[v4.18] Add hco-bundle-registry:v4.18.14.rhel9-21 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: none

[v4.19] Add hco-bundle-registry:v4.19.7.rhel9-5 on candidate channel
  v4.19/catalog/kubevirt-hyperconverged/catalog.json
  v4.19/graph.yaml
  v4.19/updated_image.yaml
Due: none

[v4.17] Add hco-bundle-registry:v4.17.28.rhel9-2 on nightly channel
  v4.17/catalog/kubevirt-hyperconverged/catalog.json
  v4.17/graph.yaml
  v4.17/updated_image.yaml
Due: v4-17-prod-on-push

Update rebuild.changelog
  v4.16/rebuild.changelog
Due: v4-16-stage-on-pull-request

Update fips check task and rebuild v4.19
  .tekton/fbc-pipeline.yaml
  v4.19/rebuild.changelog
Due: none

[v4.18] Add hco-bundle-registry:v4.18.14.rhel9-22 on nightly channel
  v4.18/catalog/kubevirt-hyperconverged/catalog.json
  v4.18/graph.yaml
  v4.18/updated_image.yaml
Due: none

Path conditions:
  v4-12-stage-on-push: (any of: v4.12/***) or (any of: .tekton/v4-12-stage-push.yaml)
  v4-16-stage-on-pull-request: (any of: v4.16/***) or (any of: .tekton/v4-16-stage-pull-request.yaml)
  v4-17-prod-on-push: any of: v4.17/***
